<!--header-->
<form action="/changePassword" method="post">   
    <label for="userPassord">Enter New Password</label>
    <input type="password" name="userPassword" id="">
    <label for="userConfirmPassord">Confirm Password</label>
    <input type="password" name="userConfirmPassord" id="">
    <button>Change Password</button>
</form>
<h1><%=err%></h1>
<!--footer-->