.heading{
    color: #FF00E4;
    text-align: center;
    margin: auto;
}
body.section1{
    background-color: #C3FCF1;
background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
color: #7F0483
};
